@import '/src/shared/styles/vars';
@import '/src/shared/styles/mixin';

.upload-image {
  margin-bottom: $input-mb;
  &__main {
  }

  &__image {
    margin-right: 20px;
    width: 100%;
    border: 1px solid $color-primary;
    position: relative;
    background-color: #fff;
    border-radius: 15px;

    &::before {
      padding-top: 70%;
    }

    &-empty {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 14px;
    }

    input {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 9;
      opacity: 0;
    }
  }
  &__content {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  &__buttons {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }
  &__info {
    color: rgba($color-text, 0.3);
    margin-left: 30px;
  }
  &__error {
    margin-top: 10px;
    color: $color-error;
  }
}
