@import '/src/shared/styles/vars';
@import '/src/shared/styles/mixin';

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  max-width: 340px;
  width: 100%;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 24px 30px;
  display: flex;
  flex-direction: column;
  padding-top: $header-height;

  &__logo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: $header-height;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-bottom: 1px solid #eeeeee;
    img {
      max-width: 180px;
    }
  }

  &__invite {
    margin-bottom: 14px;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 30px;
    .btn {
      border-radius: 14px;
      height: 70px;
    }
  }

  &__logout {
    margin-top: auto;
  }
}

.menu {
  &__item {
  }
  &__link {
    height: 60px;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-weight: 600;
    padding: 15px 12px;
    border-radius: 11px;
    &-icon {
      margin-right: 10px;
    }

    &:hover {
      color: $color-primary;
    }
    &--active {
      background-color: #eeeeee;
    }
  }
}
