@import './vars';
@import './mixin';
@import './fonts';
@import './reset';
@import './base';

// content
@import './components/heading';
@import './components/text';
@import './components/items';
@import './components/image';
// content
// form
@import './components/form';
@import './components/input-text';
@import './components/input-radio';
@import './components/input-file';
@import './components/button';
// form
// components
@import './components/section';
// components

.container-fluid {
  padding: 0 30px;
}

.row--m-10 {
  margin-left: -10px;
  margin-right: -10px;

  & > .col-12 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.tabs {
  display: flex;
  background-color: #f4f4f4;
  &__item {
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 600;
    border: 1px solid transparent;
    transition: all 0.3s;
    &:hover {
      background-color: #fff;
    }
    &--active {
      border-color: #eeeeee;
      background-color: #fff;
      border-radius: 4px;
    }
  }
}
