.input-radio {
  position: relative;
  display: block;
  cursor: pointer;
  width: 52px;
  height: 26px;
  border-radius: 48px;
  background-color: #e2e2e2;

  &__input {
    position: absolute;
    visibility: hidden;
  }

  &__check {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 14px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    transition: all 0.3s;
    background-color: #fff;
    z-index: 3;
    transform: translate(-50%, 0);
  }
}

.input-radio {
  &__input:checked ~ .input-radio__check {
    background-color: $color-dark;
    left: calc(100% - 14px);
  }
}
